<div class="   mt-10 text-center">

    <div>
        <a href="/tu/pay/request" class="btn btn-primary">Ödeme işlemleri </a>
        @if (ViewBag.msg=="success")
        {
            <p class="alert alert-success">Ödeme başarılı oldu</p>
        }
         @if (ViewBag.msg=="error")
        {
            <p class="alert alert-danger">Ödeme işlemi başarısız oldu</p>
        }
    
    </div>

</div>