<div class="   mt-10 text-center">

    <div>
        <a href="/pay/request" class="btn btn-primary">Payment operations</a>
        @if (ViewBag.msg=="primary")
        {
            <p class="alert alert-primary">Payment was successful</p>
        }
         @if (ViewBag.msg=="error")
        {
            <p class="alert alert-danger">Payment operation failed</p>
        }
    
    </div>

</div>