  <div class="horizontal-menu-wrapper">
        <div class="header-navbar navbar-expand-sm navbar navbar-horizontal floating-nav navbar-light navbar-without-dd-arrow navbar-shadow menu-border"
            role="navigation" data-menu="menu-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row ">
                    <li class="nav-item mr-auto">
                         @if(menu.logo != null)
            {
            <img style="width: 200px; height: 64px;" src="/fileupload/@menu.logo" alt="Logonuzu koyun" >
            }
            else
            {
            <img src="/app-assets/images/icons/defaultlogo.png" alt="Logonuzu koyun" >
            }

                    </li>
                    <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                                class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i
                                class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary"
                                data-ticon="icon-disc"></i></a></li>
                </ul>
            </div>
            <!-- Horizontal menu content-->
            <div class="navbar-container main-menu-content justify-content-end" data-menu="menu-container">
                <!-- include ~/includes/mixins-->
                <div class="row ml-0.5">
                    <ul class="nav navbar-nav justify-content-center " id="main-menu-navigation"
                        data-menu="menu-navigation">
                        <li class="dropdown nav-item ">
                            <a class=" nav-link" href="/Tu/home/index"><i class="feather icon-home"></i><span
                                    data-i18n="Dashboard">Ana sayfa</span></a>

                        </li>
                        <li class="dropdown nav-item" data-menu="dropdown">
                            <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i
                                    class="fa fa-shopping-cart"></i><span data-i18n="Apps"> Ürün</span></a>
                            <ul class="dropdown-menu">

                                @foreach (var item in menu.cat)
                                {
                                if (item.FatherIdCat==-1)
                                {

                                <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a
                                        class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"
                                        data-i18n="User"><i class="fa fa-check-square-o"></i>@item.NameCat</a>
                                    <ul class="dropdown-menu">
                                        @foreach (var item1 in menu.cat)
                                        {
                                        if (item1.FatherIdCat == item.Id)
                                        {
                                        <li data-menu=""><a class="dropdown-item" href="/Tu/product/index/@item1.Id"
                                                data-toggle="dropdown" data-i18n="List"><i
                                                    class="feather icon-circle"></i>@item1.NameCat</a>
                                        </li>
                                        }

                                        }



                                    </ul>
                                </li>
                                }
                                }




                            </ul>
                        </li>
                        <li class="dropdown nav-item" data-menu="dropdown">
                            <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i
                                    class="fa fa-newspaper-o"></i><span data-i18n="Apps">Haberler ve Blog</span></a>
                            <ul class="dropdown-menu">

                                @foreach (var item in menu.cat)
                                {
                                if (item.FatherIdCat==-2)
                                {

                                <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu"><a
                                        class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown"
                                        data-i18n="User"><i class="fa fa-check-square-o"></i>@item.NameCat</a>
                                    <ul class="dropdown-menu">
                                        @foreach (var item1 in menu.cat)
                                        {
                                        if (item1.FatherIdCat == item.Id)
                                        {
                                        <li data-menu=""><a class="dropdown-item" href="/Tu/blog/index/@item1.Id"
                                                data-toggle="dropdown" data-i18n="List"><i
                                                    class="feather icon-circle"></i>@item1.NameCat</a>
                                        </li>
                                        }

                                        }



                                    </ul>
                                </li>
                                }
                                }

                            </ul>
                        </li>













                        <li class="dropdown nav-item" data-menu="dropdown">
                            <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i
                                    class="fa fa-user-circle"></i><span data-i18n="Apps">Ajanslar ve uzmanlar</span></a>
                            <ul class="dropdown-menu">



                                <li data-menu=""><a class="dropdown-item" href="/Tu/expert/index"
                                        data-toggle="dropdown" data-i18n="List"><i class="feather icon-circle"></i>Uzman kadrosu</a>
                                </li>

                                <li data-menu=""><a class="dropdown-item" href="/Tu/agancy/index"
                                        data-toggle="dropdown" data-i18n="List"><i class="feather icon-circle"></i>Ajansların listesi</a>
                                </li>






                            </ul>
                        </li>


                        <li class=" nav-item">
                            <a class=" nav-link" href="/Tu/gallery/index"><i class="fa fa-picture-o"></i><span>Fotoğraf Galerisi </span></a>

                        </li>
                        <li class=" nav-item">
                            <a class=" nav-link" href="/Tu/teaser/index"><i class="fa fa-play-circle"></i><span
                                    data-i18n="Apps">Filmler</span></a>

                        </li>
                        <li class=" nav-item">
                            <a class=" nav-link" href="/Tu/contact/index"><i class="fa fa-phone-square"></i><span
                                    data-i18n="Apps">bizi ara</span></a>

                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>