<div class="   mt-10 text-center">

    <div>
        <a href="/pay/request" class="btn btn-primary">عملیات پرداخت </a>
        @if (ViewBag.msg=="primary")
        {
            <p class="alert alert-primary">پرداخت موفقیت آمیز بود</p>
        }
         @if (ViewBag.msg=="error")
        {
            <p class="alert alert-primary">عملیات پرداخت ناموفق بود</p>
        }
    
    </div>

</div>