
            <section class="row flexbox-container justify-content-center">
                <div class="col-xl-7 col-md-9 col-11 d-flex justify-content-center px-0">
                    <div class="card bg-authentication rounded-0 mb-0">
                        <div class="row m-0">
                            <div class="col-lg-6  text-center align-self-center">
                                <img src="~/app-assets/images/pages/forgot-password.png" alt="branding logo">
                            </div>
                            <div class="col-lg-6 col-12 p-0">
                                <div class="card rounded-0 mb-0 px-2 py-1">
                                    <div class="card-header pb-1">
                                        <div class="card-title">
                                            <h4 class="mb-0">تحقق من أصالة البضاعة</h4>
                                        </div>
                                    </div>
                                    <p class="px-2 mb-0">أدخل رمز الهولوغرام في المربع لتأكيد صحة العنصر الذي تم شراؤه</p>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form action="index.html">
                                                <div class="form-label-group">
                                                    <input type="text"  class="form-control" id="code" placeholder="كود الهولوغرام" required>
                                                    <label for="inputEmail">كود الهولوغرام  </label>
                                                </div>
                                            </form>
                                            
                                            <div class="float-md-right d-block mb-1">
                                                <a onclick="send()" class="btn btn-primary btn-block px-75" style="color: white;">تحقق من أصالة البضاعة</a>
                                            </div>
                                            <script>
                                                function send()
                                                {
                                                    if(document.getElementById("code").value != "")
                                                    {
                                                       location.href="/home/orgincheck?id="+document.getElementById("code").value;
                                                    }
                                                    
                                                }
                                            </script>
                                       
                                        </div>
                                        
                                    </div>
                                </div>
                                      @if (ViewBag.e != null)
                {
                    <p class="alert alert-danger">@ViewBag.e</p>
                }
                            </div>
                        </div>
                    </div>
                    
                </div>
               
            </section>
       